modules = ["cpp-clang14"]
run = "g++ Grafo/main.cpp -o main Grafo/include/puntero/GrafoPuntero.hpp Grafo/include/mapa/Grafo.cpp Grafo/include/mapa/GrafoList.cpp Grafo/include/puntero/GrafoMatriz.cpp Grafo/include/puntero/GrafoLista.cpp Grafo/include/rotulado/GrafoRotulado.cpp -IGrafo/include -IGrafo/include/mapa -IGrafo/include/puntero -IGrafo/include/rotulado && ./main"

[nix]
channel = "stable-25_05"

[deployment]
run = [
  "sh",
  "-c",
  "g++ Grafo/main.cpp -o main Grafo/include/puntero/GrafoPuntero.hpp Grafo/include/mapa/Grafo.cpp Grafo/include/mapa/GrafoList.cpp Grafo/include/puntero/GrafoMatriz.cpp Grafo/include/puntero/GrafoLista.cpp Grafo/include/rotulado/GrafoRotulado.cpp  -IGrafo/include -IGrafo/include/mapa -IGrafo/include/puntero -IGrafo/include/rotulado && ./main",
]
